<div class="page-wrapper">
  <!-- HEADER DESKTOP-->
  <header class="header-desktop">
    <div class="section-content ">
      <div class="container-fluid p-0">
        <div class="header-wrap">
          <div class="logo">
            <a routerLink="/products" style="width: 200px;">
              <img src="assets/images/logo-2.png" alt="dtshop" class="img-logo">
            </a>
          </div>
          <app-search></app-search>

          <app-login-status></app-login-status>

          <app-cart-status></app-cart-status>

        </div>
        <div class="account-wrap"></div>
      </div>
    </div>
  </header>
  <!-- END HEADER DESKTOP-->
  <!-- MAIN CONTENT-->
  
  <router-outlet></router-outlet>
  <!-- ENDS PAGE CONTAINER -->
  <footer>
    <ul>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Help</a></li>
    </ul>
  </footer>